<div class="grid-container post-detail">
    
        <div class="small-12 post-header" style="background-image:url({{model.image}});">
        </div>
        <div class="grid-x grid-margin-x">
        <div class="small-12 cell">
            <h1>{{model.title}}</h1>
            {{{model.content}}}

        </div>
    </div>
</div>
{{outlet}}